@font-face {
    font-family: 'Navigo';
    src: local('../../fonts/Navigo Regular'), local('Navigo-Regular'),
        url('../../fonts/Navigo Regular') format('woff2'),
        url('../../fonts/Navigo Regular') format('woff'),
        url('../../fonts/Navigo Regular') format('truetype');
    font-weight: 400;
    font-style: normal;
    }